[AUTHORIZATION]

# admin password for managing image database
# should be passed as a header in administrative request:
# Authorization: {adminPassword}
adminPassword =


[DATABASE]

# all values must be specified
# regardless of correspondence with the default values
dbname=
host=
port=
user=
password=


[YADISK.API]

# yandex disk api token
api_token=

# main folder at yandex disk
remote_folder=
